.title {
    font-weight: bold;
    padding: 20px;    
}

.employee-table {
    padding: 200px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    border-bottom: 1px solid black;
}

.font-bold {
    font-weight: bold;
}